<div class='test-block'>
  <h3>User</h3>

  <mat-divider></mat-divider>

  <div class='test-row'>
    <p class='test-row__name'>
      Email
    </p>

    <p class='test-row__value'>
      {{ TEST_EMAIL }}
    </p>
  </div>

  <mat-divider></mat-divider>

  <div class='test-row'>
    <p class='test-row__name'>
      Password
    </p>

    <p class='test-row__value'>
      {{ TEST_PASSWORD }}
    </p>
  </div>

  <mat-divider></mat-divider>
</div>

<div class='test-block'>
  <h3>Admin</h3>

  <mat-divider></mat-divider>

  <div class='test-row'>
    <p class='test-row__name'>
      Email
    </p>

    <p class='test-row__value'>
      {{ ADMIN_EMAIL }}
    </p>
  </div>

  <mat-divider></mat-divider>

  <div class='test-row'>
    <p class='test-row__name'>
      Password
    </p>

    <p class='test-row__value'>
      {{ ADMIN_PASSWORD }}
    </p>
  </div>

  <mat-divider></mat-divider>
</div>
