<h2 class='title'>Create card</h2>

<form (ngSubmit)='createVideo()' [formGroup]='form' class='form'>
  <mat-form-field appearance='fill' class='form__field'>
    <mat-label>Title</mat-label>
    <input [formControlName]='titleFormName' matInput required />
  </mat-form-field>

  <mat-form-field appearance='fill' class='form__field'>
    <mat-label>Description</mat-label>
    <textarea [formControlName]='descriptionFormName' matInput required></textarea>
  </mat-form-field>

  <mat-form-field appearance='fill' class='form__field'>
    <mat-label>Image link</mat-label>
    <input [formControlName]='imageLinkFormName' matInput />
  </mat-form-field>

  <mat-form-field appearance='fill' class='form__field'>
    <mat-label>Video link</mat-label>
    <input [formControlName]='videoLinkFormName' matInput />
  </mat-form-field>

  <button
    [disabled]='isSubmitButtonDisabled'
    class='form__button' color='primary'
    mat-flat-button
    type='submit'
  >
    Create
  </button>
</form>
