.profile-wrapper {
  display: flex;
  align-items: center;
}

.user-email {
  max-width: 170px;
  margin: 0 15px 0 0;

  font-size: 15px;

  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 670px) {
    display: none;
  }
}
